<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus cupiditate
    maiores illo unde quo architecto sequi et consequatur, optio reiciendis.
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <img
          class="icon icon--primary quote__line"
          src="images/line.svg"
          alt=""
        />
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">John Smith</h3>
        <p class="quote__organization">ABC Company</p>
      </div>
    </div>
  </footer>
</blockquote>
